
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100vw;
    position: relative;
    // border:1px solid blue;
    &-products{
       app-product{
           display: flex;
           justify-content: center;
           flex-direction: row;
           flex-wrap: wrap;
       }
    }
}